@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900&subset=latin-ext');

//BOJE

$siva: #f0f0f0;
$bijela:#ffffff;
$crvena: #d4040a;
$plava: #0068a9;
$tamnosiva: #202020;
$svijetlosiva: #323232;  

.bijeli_bg{
  background: $bijela;
}

//FONTOVI
$arial: Arial, Helvetica, sans-serif;
$source_pro: 'Source Sans Pro', sans-serif;
$courier: "Courier New", Courier, monospace;  

.source_pro_black{
  font-family: $source_pro;
  font-weight: 900;
}


//LAYOUT

.flex-row {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.flex-column {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.flex-body {
    display: flex;
}


//LAYOUT TABLICA

header, .row {
  display: flex;  /* aligns all child elements (flex items) in a row */

}

.row{
  border-top: 2px solid $svijetlosiva;
}
.col {
  flex: 1;
  padding: 1rem;        /* distributes space on the line equally among items */
}

body{
	background: $siva;
	font-family: $arial;
  overflow-x:hidden;
}

///https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01
.contanier{
	max-width: 1000px;
	width: 100%;
	margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}



//NAVIGACIJA
.nav{
	background: $plava;
	color: $bijela;
	display: flex;
	flex-direction: row;
  .flex-row{
    justify-content: space-between;
    p{
      align-self: center;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 0.8rem;
    }
  }
}

//SLIKA/NASLOV LIJEVI DIO
.slika{
	// background: url('/img/slika.jpg');
	 height: 328px;
   display: flex;
	.slika__naslov{
		background: $crvena;
    position: absolute;
		 // align-items: flex-end;
		 font-family: $source_pro;
		 font-weight: bold;
       height: 25px;
    padding: 0.8rem;
    padding-left: 1.2rem;
    color: $bijela;
    width: 150px;
    align-self: flex-end;
	}
}


//TEXT LIJEVI DIO
.BEM__metodologija{
  padding: 1rem;
    .BEM__metodologija--courier p{
    font-family: $courier;
    color: $plava;
    font-weight: 500;
  }
}



//TABLICA DESNI DIO
.tablica{
  border-collapse: collapse;
  background: $tamnosiva;
  padding: 1rem;
  .row{
     &:hover{
          background: darken($tamnosiva, 3%) ;
        }
  }
  tr{
    border: 1px solid red;
  }
  td{
    padding: 1rem;
  }

  @mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
  .tablica__gradijent{
    @include linearGradient(#ffd800, #eb9a09);

      padding: 1rem 0;
      flex: 0 1 8px;
        height: 22px;
        margin: 1rem 0;


  }
  .row:nth-child(0) .tablica__gradijent{
    opacity: 1;
  }
  .row:nth-child(1) .tablica__gradijent{
    opacity: 0.8;
  }
  .row:nth-child(2) .tablica__gradijent{
    opacity: 0.6;
  }
  .row:nth-child(3) .tablica__gradijent{
    opacity: 0.4;
  }
  .row:nth-child(4) .tablica__gradijent{
    opacity: 0.2;
  }

   .row:nth-child(5) .tablica__gradijent{
    opacity: 0.1;
  }
  .row:nth-child(6) .tablica__gradijent{
    opacity: 0;
  }
  .row:nth-child(7) .tablica__gradijent{
    opacity: 0;
  }
  .tablica__zadnja .tablica__gradijent{
    opacity: 0;
  }

  // .tablica__podnaslov{
  //     di
  // }
  .tablica__font__bijela{
    color: $bijela;
  }
  .tablica__naslov--crveno{
    color: $crvena;
    font-size: 1.3rem;
  }
  .tablica__naslov--plavo{
    color: $plava;
    font-size: 1.3rem;
  }
  .tablica__id{
      color: $bijela;
       align-self: center;
  }
  .tablica__name{
    color: $plava;
        flex: 1 1 300px;
            align-self: center;
  }
  .tablica__score{
    color: $bijela;
        padding-left: 5rem;
            align-self: center;
  }
  .tablica__row__center{
    justify-content: center;
    padding: 0.5rem 0;
  }
  .tablica__kuglica{
     height: 10px;
    width: 10px;
    background-color: $svijetlosiva;
    border-radius: 50%;
    display: inline-block;
    margin: 0.2rem;
  }
}



///https://stackoverflow.com/questions/43056180/flexbox-3-divs-two-columns-one-with-two-rows
//https://www.google.com/search?q=double+rows+in+flex&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjvvYnJ3OnhAhXqwsQBHVgpCRQQ_AUIDigB&biw=1070&bih=706#imgrc=ERrz5jTIRzSQAM:




//RESPONZIVA

@media screen and (max-width: 575px) {
 .flex-body{
    flex-flow: column;
 }
}